<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shift">
    <div class="container-fluid">
      <a class="font-style" href="#"> Journal Ndev </a>
      <div
        class="collapse navbar-collapse d-flex justify-content-end"
        id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" routerLink="/card">Card</a>
          </li>

          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" routerLink="/post"
              ><i class="far fa-list-alt"></i> Post</a>
          </li>
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" routerLink="/list"
              ><i class="far fa-list-alt"></i> List</a>
          </li>
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" routerLink="/category"
              ><i class="far fa-list-alt"></i> Category</a
            >
          </li>
          <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/login"
              ><i class="fas fa-sign-in-alt"></i> Login</a
            >
          </li>
          <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
            <a class="nav-link" style="cursor: pointer"
              ><i class="fas fa-door-open"></i> Logout</a
            >
          </li>

          <!-- <li class="nav-item">
            <div class="dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Authentication</a
              >
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Logout</a>
                </li>
              </ul>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/list"
          ><i class="far fa-list-alt"></i> List</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/category"
          ><i class="far fa-list-alt"></i> Categories</a
        >
        >
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login"
          ><i class="fas fa-sign-in-alt"></i> Login</a
        >
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer"
          ><i class="fas fa-door-open"></i> Logout</a
        >
      </li>
    </ul>
  </div>
</nav> -->
