<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shift">
    <div class="container-fluid">
      <div class="justify-content-start">
        <a class="font-style" routerLink="/"> JOURNAL NDEP </a>
      </div>
      <div class="justify-content-end">
        <ul>
          <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/login"><i class="fas
                fa-sign-in-alt"></i> Login</a>
          </li>
          <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
            <a class="nav-link" style="cursor: pointer"><i class="fas
                fa-door-open"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr />
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shift">
      <div class="container-fluid">
        <div
          class="collapse navbar-collapse d-flex justify-content-start"
          id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" routerLink="/card">Card</a>
            </li>

            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" routerLink="/post"><i class="far fa-list-alt"></i>
                Post</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" routerLink="/category"><i class="far
                  fa-list-alt"></i> Category</a>
            </li>

          </ul>
        </div>
        <div class="justify-content-end" *ngIf="isLogged">
          <ul class="navbar-nav row">
            <li class="nav-item col">
              <img
                src="/assets/images/png/instagram-sm.png"
                alt="instagram"
                class="social-icon"
                />
            </li>
            <li class="nav-item col" *ngIf="isLogged">
              <img
                src="/assets/images/png/facebook-sm.png"
                alt="facebook"
                class="social-icon"
                />
            </li>

            <li class="nav-item col" *ngIf="isLogged">
              <img
                src="/assets/images/png/twitter-sm.png"
                alt="twitter"
                class="social-icon"
                />
            </li>
            <li class="nav-item col" *ngIf="isLogged">
              <img
                src="/assets/images/png/youtube-sm.png"
                alt="youtube"
                class="social-icon"
                />
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
