<div class="container" *ngIf="postCollection.length> 0; else empty">
    <button class="btn btn-primary" (click)="goBack()">Back</button>
    <div class="row">
        <div class="mt-3 col-md-3 position-relative" *ngFor="let post of postCollection">
            <div class="card box" style="width: 21rem" data-aos="zoom-in">
                <img [src]="'data:' + post.imagesContentType + ';base64,' + post.images" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">{{ post?.title }}</h5>
                    <p>{{ post.category_post?.name }}</p>
                    <p class="text" [innerHTML]="post.content"></p>
                    <a style="color: #fd0dfd" (click)="postDetailsRoute(post)">
                        <p>Read More..</p>
                    </a>
                </div>
                <div class="card-footer">
                    <div class="d-flex bd-highlight mb-3">
                        <div class="font-size me-auto p-2 bd-highlight">
                            {{ calculateDiff(post) }}
                            {{ hourTime(post) }}
                        </div>
                        <div class="font-size p-2 bd-highlight"></div>
                        <div class="font-size p-2 bd-highlight">
                            {{ post?.author }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<ng-template #empty>
  <app-no-data></app-no-data>
</ng-template>
