.card-footer {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #dc354500;
}

.card-img-top {
  border-radius: 10px;
}

.card-border {
  border-radius: 20px;
}
