<footer class="waves">
  <div class="container mt-5 text-white waves" style="color: black">
    <div class="d-flex justify-content-center">
      <a class="font-style" href="#"> Journal Ndev </a>
    </div>
    <br />
    <div class="d-flex justify-content-center" style="color: black">
      <div class="row">
        <div class="col">
          <img
            src="/assets/images/png/instagram.png"
            alt="instagram"
            class="social-size"
          />
        </div>
        <div class="col">
          <img
            src="/assets/images/png/twitter.png"
            alt="twitter"
            class="social-size"
          />
        </div>
        <div class="col">
          <img
            src="/assets/images/png/facebook.png"
            alt="facebook"
            class="social-size"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row mt-3 cursor" style="color: black">
      <div class="col">
        <p [routerLink]="['/term-of-service']">Terms Of Service</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">Privacy Policy</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">Archives</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">News & Events</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">FAQ</p>
      </div>
      <div class="col">
        <p [routerLink]="['/feedback']">Send Feedback</p>
      </div>
      <br />
    </div>
  </div>
</footer>
