.bg-light {
  background-color: white !important;
}

.waves {
  background-image: url("/assets/images/svg/cloud.svg");
  z-index: 9999;
}

.social-media-icon {
  height: 30px;
  width: 30px;
}

.cursor {
  cursor: pointer;
}
