<footer class="waves">
  <div class="container mt-5 text-white waves" style="color: black">
    <div class="d-flex justify-content-center">
      <a class="font-style" href="#"> Journal Ndep </a>
    </div>
    <br />
    <div class="d-flex justify-content-center" style="color: black">
      <div class="row">
        <div class="col">
          <a
            href="https://www.instagram.com/journal.ndep/?hl=id"
            target="_blank"
          >
            <img
              src="/assets/images/png/instagram.png"
              alt="instagram"
              class="social-media-icon"
            />
          </a>
        </div>
        <div class="col">
          <a href="https://twitter.com/devi_empy">
          <img
            src="/assets/images/png/twitter.png"
            alt="twitter"
            class="social-media-icon"
          />
          </a>

        </div>
        <div class="col">
          <img
            src="/assets/images/png/facebook.png"
            alt="facebook"
            class="social-media-icon"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row mt-3 cursor" style="color: black">
      <div class="col">
        <p [routerLink]="['/term-of-service']">Terms Of Service</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">Privacy Policy</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">Archives</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">News & Events</p>
      </div>
      <div class="col">
        <p [routerLink]="['/404']">FAQ</p>
      </div>
      <div class="col">
        <p [routerLink]="['/feedback']">Send Feedback</p>
      </div>
      <br />
    </div>
  </div>
</footer>
