<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4 id="jhi-post-heading" data-cy="PostCreateUpdateHeading">
        Create or edit a Post
      </h4>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
              <div>
                <div class="form-group" [hidden]="editForm.get('id')!.value == null">
                  <label class="form-control-label" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                    [readonly]="true" />
                </div>
                <div class="form-group">
                  <mat-form-field appearance="outline" style="width: 1238px">
                    <mat-label class="form-control-label" for="author">Author</mat-label>
                    <input matInput type="text" name="author" id="author" data-cy="author" formControlName="author"
                      required />
                  </mat-form-field>
                  <div *ngIf="
                      editForm.get('author')!.invalid &&
                      (editForm.get('author')!.dirty ||
                        editForm.get('author')!.touched)
                    ">
                    <small class="form-text text-danger" *ngIf="editForm.get('author')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
                </div>

                <div class="form-group">
                  <mat-form-field appearance="outline" style="width: 1238px">
                    <mat-label class="form-control-label" for="title">Title</mat-label>
                    <input matInput type="text" name="title" id="title" data-cy="title" formControlName="title"
                      required />
                  </mat-form-field>
                  <div *ngIf="
                      editForm.get('title')!.invalid &&
                      (editForm.get('title')!.dirty ||
                        editForm.get('title')!.touched)
                    ">
                    <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
                </div>
                &nbsp;
                <!-- <div class="form-group">
                  <label class="form-control-label" for="field_content">Content</label>
                  <textarea class="form-control" name="content" id="field_content" data-cy="content"
                    style="height: 500px" formControlName="content"></textarea>
                  <div *ngIf="editForm.get('content')!.invalid &&
                    (editForm.get('content')!.dirty ||
                    editForm.get('content')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('content')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
                </div> -->

                <div class="mb-3 form-group">
                  <editor class="form-control" name="content" id="field_content" data-cy="content" entity_encoding="raw"
                    formControlName="content" [init]="{
                      height: 500,
                      menubar: false,
                      plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                      ],
                      toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                    }"></editor>
                </div>

                &nbsp;
                <div class="form-group">
                  <label class="form-control-label" for="field_images">Images</label>
                  <div>
                    <img [src]="
                        'data:' +
                        editForm.get('imagesContentType')!.value +
                        ';base64,' +
                        editForm.get('images')!.value
                      " style="max-height: 100px" *ngIf="editForm.get('images')!.value" alt="post image" />
                    <div *ngIf="editForm.get('images')!.value" class="form-text text-danger clearfix">
                      <span class="pull-left">{{ editForm.get("imagesContentType")!.value }},
                        {{ byteSize(editForm.get("images")!.value) }}</span>
                      &nbsp;
                      <img src="/assets/images/svg/close.svg" class="social-media-icon" alt="" (click)="
                          clearInputImage(
                            'images',
                            'imagesContentType',
                            'file_images'
                          )
                        " />
                    </div>
                    <input type="file" id="file_images" data-cy="images" (change)="setFileData($event, 'images', true)"
                      accept="image/*" />
                  </div>
                  <input type="hidden" class="form-control" name="images" id="field_images" data-cy="images"
                    formControlName="images" />
                  <input type="hidden" class="form-control" name="imagesContentType" id="field_imagesContentType"
                    formControlName="imagesContentType" />
                  <div *ngIf="
                      editForm.get('images')!.invalid &&
                      (editForm.get('images')!.dirty ||
                        editForm.get('images')!.touched)
                    ">
                    <small class="form-text text-danger" *ngIf="editForm.get('images')?.errors?.required">
                      This field is required.
                    </small>
                  </div>
                </div>
                &nbsp;
                <div class="form-group">
                  <label class="form-control-label" for="field_category_post">Category Post</label>
                  <select style="height: 45px" class="form-control form-select" id="field_category_post"
                    data-cy="category_post" name="category_post" formControlName="category_post">
                    <option selected>Category</option>
                    <option [ngValue]="null"></option>
                    <option [ngValue]="
                        categoryOption.name ===
                        editForm.get('category_post')!.value?.name
                          ? editForm.get('category_post')!.value
                          : categoryOption
                      " *ngFor="
                        let categoryOption of categoriesSharedCollection;
                        trackBy: trackCategoryById
                      ">
                      {{ categoryOption.name }}
                    </option>
                  </select>
                </div>
              </div>
              &nbsp;
              <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                  <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                &nbsp;
                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
                  [disabled]="editForm.invalid || isSaving" class="btn btn-primary ml-3">
                  <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
