<div class="container">
  <div class="row">
    <div
      class="mt-3 col-md-3 position-relative"
      *ngFor="let content of content"
    >
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h1 style="color: rgb(255, 255, 255)">{{ content.title }}</h1>
          </div>
          <div class="flip-card-back">
            <img
              src="{{ content.url }}"
              alt="Avatar"
              style="width: 300px; height: 300px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
