/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.font-style {
  //font-family: "Seaweed Script", cursive;
  //font-family: 'Poppins', sans-serif;
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 900;
}

a {
  text-decoration: none;
}

* {
  // font-family: 'Overpass Mono', monospace;
  //font-family: "Poppins", sans-serif;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
}

.social-size {
  height: 30px;
  width: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


