@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import '~bootstrap/scss/bootstrap';

.font-style {
  font-family: "Lexend", sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 900;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}

.social-size {
  height: 30px;
  width: 30px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.btn-primary {
    color: #fff;
    background-color: #fd0dfd !important;
    border-color: #fd0dfd !important;
}

.btn-primary:hover {
  background-color: #ca18ca !important;
  border-color: #fd0dfd !important;
}



a:hover {
  color: #fd0dfd;
  text-decoration: none;
}


.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


