.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #dc354500;
  height: 70vh !important
}

.font-size {
  font-size: 10px !important;
}

.card-img-top {
  border-radius: 10px;
}

.btn.btn-primary[disabled] {
    color: #fff;
    background-color: #fd0dfd;
    border-color: #fd0dfd;
}

.form-control {
   border-color: #fd0dfd;
}


