<div class="container text-center">
  <a routerLink="/category-update">
    <button class="btn btn-primary">Create</button>
  </a>
  <div class="row text-center">
    <div
      class="mt-3 col-md-2 position-relative"
      *ngFor="let category of categories"
      style="margin-left: 1rem;"
    >
      <div class="card box mr-3" style="width: 15rem;"  data-aos="zoom-in">
        <div class="card-body">
          <h5 class="card-title"> <a [routerLink]="'/category/' + category.id">{{ category.name }}</a></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <ng-template #loggedOut>
    <app-login></app-login>
  </ng-template>
</div>


