<div class="container text-center">
  <div *ngIf="isLogged; else loggedOut">
    <a routerLink="/category-update">
      <button class="btn btn-primary">Create</button>
    </a>
    <div class="column-center">
      <div class="row">
        <div class="column">
          <table>
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{ category.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loggedOut>
    <app-login></app-login>
  </ng-template>
</div>
