<div class="text-center" *ngIf="isLoggedIn; else loggedOut">
  <app-index></app-index>
</div>

<div>
  <ng-template #loggedOut>
    <div class="content">
      <div class="container registration-form">
        <div class="row">
          <div class="col-md-6">
            <img
              src="/assets/images/svg/book-lovers.svg"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <h3>Sign In</h3>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sapiente sit aut eos
                    consectetur adipisicing.
                  </p>
                </div>
                <form name="form" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                  <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 420px">
                      <mat-label class="form-control-label" for="field_title"
                        >Username</mat-label
                      >
                      <input
                        matInput
                        type="text"
                        name="username"
                        id="username"
                        data-cy="username"
                        [(ngModel)]="username"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 420px">
                      <mat-label class="form-control-label" for="field_title"
                        >Password</mat-label
                      >
                      <input
                        matInput
                        type="password"
                        name="password"
                        id="password"
                        [(ngModel)]="password"
                        required
                      />
                    </mat-form-field>
                  </div>
                  &nbsp;
                  <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!f.valid">
                      Login
                    </button>
                    <br />
                    <div
                      *ngIf="f.submitted && isLoginFailed"
                      class="alert alert-danger"
                    >
                      Login failed: {{ errorMessage }}
                    </div>
                  </div>
                  <span class="d-block text-left my-4 text-muted">
                    <a routerLink="/register">
                      &mdash; Don't have an account? Sign Up &mdash;
                    </a>
                  </span>

                  <span class="d-block text-left my-4 text-muted"
                    >&mdash; or login with &mdash;</span
                  >

                  <div class="social-login">
                    <div class="row">
                      <div class="col">
                        <img
                          src="/assets/images/png/instagram.png"
                          alt="instagram"
                          class="social-media-icon"
                        />
                      </div>
                      <div class="col">
                        <img
                          src="/assets/images/png/twitter.png"
                          alt="twitter"
                          class="social-media-icon"
                        />
                      </div>
                      <div class="col">
                        <img
                          src="/assets/images/png/facebook.png"
                          alt="facebook"
                          class="social-media-icon"
                        />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
